{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "content" }}

<h1>404</h1>
<p>Sorry, we've misplaced that URL or it's pointing to something that doesn't exist.
    <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.
</p>

<canvas id="grid" width="850" height="450">
    
</canvas>

<script src="https://game-of-life-ts.notnot.ninja/dist/bundle.js"></script>
<br/>
<a href="https://github.com/philipf/game-of-life-ts">
    Conway's game of live code kata
</a>
{{ end }}

{{ define "footer" }}
{{ end }}
