{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<!-- https://codepen.io/arcs/pen/vOwJBw -->
<style type="text/css">
    #space-invaders {
        margin: 0 auto;
        display: block;
        background: white
    }
</style>

<h1>404</h1>
<p>Sorry, we've misplaced that URL or it's pointing to something that doesn't exist.
    <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.
</p>

<canvas id="grid" width="850" height="450">
    
</canvas>

<script src="./dist/bundle.js"></script>
{{ end }}

{{ define "footer" }}
{{ end }}
